<%- include ("../../../partials/header") %> <%- include
("../../admin/mobile-nav") %>
<section class="index-container">
  <%- include ("../../admin/admin-nav") %>
  <div class="container">
    <!-- article form -->
    <form
      action="/articles"
      method="POST"
      id="article-create-form"
      class="form form-group article-form"
      enctype="multipart/form-data"
    >
      <h1 class="admin-index-title">Add Article</h1>
      <div class="form form-group article-create">
        <label for="article-title">Article Title:</label>
        <input
          type="text"
          id="article-title"
          class="browser-default form-field input-field"
          name="Article[title]"
          required
        />

        <label for="main-image">Image:</label>
        <input
          id="main-image"
          class="browser-default form-field"
          type="file"
          name="Article[image]"
          required
        />
        <label for="article-sub-description">Sub Description</label>
        <textarea
          id="article-sub-description"
          class="browser-default form-field text-area"
          name="Article[sub_description]"
          required
        >
        </textarea>
        <label for="article-description">Article Description:</label>
        <textarea
          id="article-description"
          class="browser-default form-field text-area"
          name="Article[description]"
          required
        >
        </textarea>
      </div>
      <div class="button-container">
        <button type="submit" class="go-button btn">create</button>
        <a href="/articles" class="static-button btn">cancel</a>
      </div>
    </form>
  </div>
</section>
<%- include ("../../../partials/footer") %>
