<nav class="index-navigation">
  <i class="material-icons hide-on-large-only">menu</i>
  <section class="index-navigation-container">
    <div class="container">
      <a class="index-logo" href="/">
        <img src="../../../../images/mobile-logo.jpg" alt="" />
      </a>
      <ul class="index-navigation-links">
        <li><a href="/articles">Articles</a></li>
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
  </section>
</nav>
