<footer class="footer-section">
  <section class="footer-navigation container">
    <ul>
      <li><a href="/privacy-disclosure" class="footer-items">privacy</a></li>
      <li><a href="/TOS" class="footer-items">term of services</a></li>
      <li>
        <a href="/affiliate-disclaimer" class="footer-items"
          >affiliate disclaimer</a
        >
      </li>
    </ul>

    <aside class="copyright">
      &copy; <%= new Date().getFullYear() %> stylish function. all rights
      reserved.
    </aside>
  </section>
</footer>
<script src="../js/scripts.js"></script>
</body>
</html>
