<!-- <nav class="index-navigation show-on-med-and-down hide-on-large-only">
  <i class="material-icons">menu</i>
  <section class="index-navigation-container container">
    <a class="index-logo" href="/"
      ><img src="../../images/mobile-logo.jpg" alt="" />
    </a>
  </section>
</nav> -->

<ul class="index-mobile-navigation-links show-on-small hide-on-med-and-up">
  <li><a href="/articles">Articles</a></li>
  <li><a href="/contact-us">Contact</a></li>
  <li><a href="/about-us">About Us</a></li>
</ul>
