<nav class="dash-board-nav hide-on-med-and-down">
  <div class="dash-board-container">
    <i class="material-icons hamburger hide-on-large-only">menu</i>
    <h1 class="admin-nav-title">Admin</h1>
    <ul class="hide-on-med-and-down">
      <li><a href="/dashboard">Home</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
