<%- include("../../partials/header") %>
<section
  style="
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>Successfully Logged Out</h1>
</section>

<%- include("../../partials/footer") %>
