<nav class="admin-mobile-nav hide-on-large-only">
  <i class="material-icons hamburger hide-on-large-only">menu</i>
  <h1 class="admin-mobile-nav_title"><a href="/dashboard">Admin</a></h1>
  <div class="slider-overlay">
    <ul class="admin-mobile-nav_links hidden hide-on-large-only">
      <!-- <li><a href="/admin/dashboard">Home</a></li> -->
      <li><a href="/articles">Articles</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/">Featured</a></li>
      <li><a href="/">Main</a></li>
      <li class="logout">
        <a class="go-button btn" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  const adminHamburgerNav = document.querySelector(".hamburger");
  const adminNavLinks = document.querySelector(".admin-mobile-nav_links");
  const slider = document.querySelector(".slider-overlay");

  adminHamburgerNav.addEventListener("click", () => {
    adminNavLinks.classList.toggle("hidden");
    if (adminNavLinks.classList.contains("hidden")) {
      slider.style.display = "none";
    } else {
      slider.style.display = "block";
      slider.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
    }
  });
</script>
