$white: hsl(0, 0%, 100%);
$nav-text: #333;
$title-text: hsl(0, 0%, 20);
$title-text-hover: hsl(0, 0%, 50%);
$nav-background: #ed8a63;
$text-capitalize: capitalize;
$text-center: center;
$text-uppercase: uppercase;
$header-background: #00c2dc;
$aside-text: #ddd;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$border-color: rgba(51, 51, 51, 0.3);
$border: rgba(0, 0, 0, 0.3);
$back-button: hsl(60, 100%, 30%);
$back-button-hover: hsl(60, 100%, 25%);
$go-button: hsl(200, 100%, 40%);
$go-button-hover: hsl(200, 100%, 50%);
$delete-button: hsl(0, 100%, 50%);
$delete-button-hover: hsl(0, 100%, 45%);
$static-button: hsl(0, 0%, 100%);
$static-button-hover: hsl(0, 0%, 95%);
$heading-text: "Nunito", sans-serif;
$text-font: "roboto", sans-serif;

$break-small: 600px;
$break-medium: 900px;
$break-large: 1224px;
$break-xlarge: 1225px;
