<%- include ("../../partials/header") %> <%- include ("../../partials/nav") %>
<section class="container">
  <div class="error-message-container">
    <h1>
      hello!!!...Sorry your page was not found try check you spelling and url
      address
    </h1>
  </div>
</section>
<%- include ("../../partials/footer") %>
