<% include ../partials/header %> <% include ../partials/nav %>
<section class="container">
  <h1>
    hello!!!...Sorry your page was not found try checking your spelling or url
    address
  </h1>
</section>
<% include ../partials/footer %>
