.index-navigation-container,
.index-navigation-links {
  @include flex-space-between(space-between, center);
}

i.material-icons {
  display: none;
}

.index-navigation-container {
  .index-navigation-links {
    -webkit-transform: none;
    transform: none;
  }

  width: 80%;
  margin: 0 auto;
  .index-navigation-links {
    display: block;
  }
  .logo {
    margin: 0;
    max-width: 100%;
    @include flex;
    align-items: center;
    justify-content: flex-start;

    img {
      height: 4rem;
      width: 100%;
    }
  }
}
