// .index-navigation-container,
// .index-navigation-links {
//   @include flex-direction(column);
// }

.index-navigation {
  position: relative;
  @include flex-space-between(space-between, center);
  top: 56px;
  display: none;
  left: 0;
  background-color: $white;
  z-index: 3;

  .index-navigation-container {
    height: auto;
  }

  i.material-icons {
    display: inline-block;
    color: #333;
    font-size: 2rem;
    max-width: 100%;
    @include flex-align(center, center);
    &:hover {
      cursor: pointer;
    }
  }

  .index-navigation-container {
    @include flex-align(center, center);
    width: 100%;
    .logo {
      margin: 0 auto;
      margin-right: 0;
      max-width: 90%;
      padding: 10px 0;
      @include flex-align(center, center);
      img {
        height: auto;
        max-width: 85%;
      }
    }
  }
}
