.index-navigation-container,
.index-navigation-container {
  @include flex-space-between(space-between, center);
  width: 70%;
  margin: 0 auto;
  .index-navigation-links {
    transform: none;
    a {
      font-size: 1.5em;
      transition: all 0.3s linear;
      &:hover {
        background: none;
        border-bottom: 3px solid $go-button;
        color: $title-text-hover;
        padding-bottom: 0;
      }
    }
  }
  .logo {
    margin: 0;
    max-width: 100%;
    @include flex;
    align-items: center;
    justify-content: flex-start;

    img {
      height: 4rem;
      width: 100%;
    }
  }
}
